body {
    //fonts
    font-family: 'OpenSans';
    font-size: 14px;
    font-weight: 400;
    color: $text-grey;

    position: relative;
}

.section {
    display: flex;
    justify-content: center;
    height: 100vh;

    &:not(.fit-content) {
        min-height: 720px;
    }
    
    &:not(.section_main) {
        padding: $section-padding 0;
    }

    

    &_main {
        position: relative;
        background-image: url('../images/bg-main.jpg');
        background-size: cover;
        color: #fff;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: #000;
            opacity: .45;
        }
    }

    &__info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    &_nums {
        height: fit-content;

        background-image: url('../images/bg-nums.jpeg');
        background-size: cover;
        background-position-y: center;
        background-attachment: fixed;

        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: #000;
            opacity: .45;
        }
    }

    &_menu {
        height: fit-content;
    }

    &_form {
        background-image: url('../images/bg-form.jpg');
        background-size: cover;
        background-position-y: center;
        position: relative;
        background-attachment: fixed;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: #000;
            opacity: .45;
        }
    }


    &_history {
        padding: 70px 0 !important;
    }

    &_reviews {
        height: fit-content;
        background-image: url('../images/bg-reviews.jpg');
        background-size: cover;
        background-position-y: center;
        position: relative;
        background-attachment: fixed;
        
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: #000;
            opacity: .65;
        }
    }

    &_clients {
        height: fit-content;
    }

    &_footer {
        background-image: url('../images/bg-footer.jpg');
        padding-bottom: 20px !important;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: #fff;
            opacity: .1;
        }
    }

}

.container {
    width: 90%;
    &:not(.container_main) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_main {
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    &_form {
        // display: flex;
        // justify-content: center;
    }

    &_history {
        flex-direction: column;
    }
   
}