@font-face {
    font-family: 'AmaticSC';
    src: url("../fonts/AmaticSC/AmaticSC-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: 'AmaticSC';
    src: url("../fonts/AmaticSC/AmaticSC-Bold.woff") format("woff");
    font-weight: 700;
}
