.btn {
  display: block;
  width: fit-content;
  padding: 15px 30px;
  border-radius: 3px;
  position: relative;
  font-weight: 600;

  outline: none;

  font-size: 14px;
  @include phones {
    padding: 10px 15px;
  }
  &__text {
    position: relative;
    z-index: 20;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    // width: 100%;
    border-radius: 2px;
    height: 0;
    transition: .7s height ease-out 0s;
    background-color: #1F2327;
  }

  &:hover {
    &:after {
      height: 100%;
      @include tablets {
        height: 0;
      }
    }
  }


  &_more {
    background-color: #fff;
    color: $accent-color;
  }

  &_order {
    background-color: $accent-color;
    color: #fff;
  }
}