.header {
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    position: relative;

    @include phones {
      margin-bottom: 50px;
    }
  }

  &__menu {
    @include tablets {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
    }
  }

  &__burger {
    display: none;

    @include tablets {
      display: block;
    }
  }
}