.history {
  display: flex;
  width: 100%;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }

  &__left-col, &__right-col {
    width: 50%;
  }
  &__left-col {
    padding-right: 40px;
    @include tablets {
      width: 100%;
      margin-bottom: 60px;
    }
  }

  &__right-col {
    @include tablets {
      width: 75%;
    }
  }
  &__text {
    margin-bottom: 30px;
  }

  &__companies {
    margin-left: 30px;
  }

  &__artis-logo {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1000;
  }
}

