.info {
  width: 600px;
  text-align: center;
  &__title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;

    @include phones {
      font-size: 30px;
    }

  }

  &__subtitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    @include phones {
      font-size: 17px;
    }
  }

  &__descr {
    margin-bottom: 25px;
    @include phones {
      font-size: 11px;
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
  }

  &__btn {
    &:not(:last-of-type) {
      margin-right: 35px;
    }
  }

}