.inputs {
  display: flex;
  flex-direction: column;

  // flex: 1;

  &__item {
    position: relative;
    margin-bottom: 20px;
    // &_comment {
      // flex: 1;
    // }
  }
  &__icon {
    position: absolute;
    // top: 10px;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: $accent-color;
    &_comment {
      top: 15px;
      transform: translateY(0);
    }
  }
}