.inputs {
  display: flex;
  flex-direction: column;

  // flex: 1;

  &__item {
    position: relative;
    margin-bottom: 20px;
    // &_comment {
      // flex: 1;
    // }
  }
  &__icon {
    position: absolute;
    top: 10px;
    left: 15px;
    color: $accent-color;
  }
}