.menu-meal {
  display: flex;
  flex-wrap: wrap;

  // width: 100%;

  &__title-row {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px dashed $text-grey;
  }

  &__meals {
    padding-top: 10px;
  }

  &__item {
    width: 31.556%;
    margin-bottom: 80px;
    
    &:not(:nth-of-type(3n)) {
      margin-right: 2.66%;
    }

  }


  &__day {
    font-size: 30px;
    font-family: 'AmaticSC';
    font-weight: 700;
    color: $text-black;
  }

  &__gr {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    font-style: italic;
  }

}