.menu {
  display: flex;

  &__item {
    &:not(:last-of-type) {
      margin-right: 30px;
    }
  }

  &__link {
    outline: none;
    transition: color .5s;
    &:hover {
      color: $accent-color;
    }
  }

}