.owl {

  &-wrapper {
    height: 100%;
    position: relative;
    &:hover {
      .owl-prev {
        // transform: translateX(-50%);
        left: 0  !important;
        opacity: 1  !important;
      }
      .owl-next {
        // transform: translateX(-50%);
        left: 100%  !important;
        opacity: 1  !important;
      }
    }
  }

  //fixme
  &-carousel, &-stage-outer {
    height: 100%;
  }

  &-prev, &-next {
    font-size: 20px !important;
    display: flex  !important;
    justify-content: center  !important;
    align-items: center  !important;
    
    cursor: pointer;
    border-radius: 3px  !important;
    width: 44px !important;
    height: 44px  !important;
    color: $accent-color  !important;
    border: 1px solid #e3e3e3  !important;
    text-align: center  !important;
    background-color: #fff  !important;
    transition: left 0.3s ease-out 0s, opacity .2s ease-out 0s  !important;
    outline: none !important;

    position: absolute  !important;
    z-index: 100  !important;
    top: 50%  !important;
    transform: translateY(-50%)  !important;
    opacity: 0  !important;
  }

  &-prev {
    left: 20%  !important;
    transform: translateX(-50%)  !important
  }
  &-next {
    left: 80%  !important;
    transform: translateX(-50%)  !important;
  }
  
  &-stage-history {
    height: 100%;
  }
  &-history-item {
    height: 100%;
    display: flex;
    align-items: center;

    background-size: cover;
    background-position: center center;

    &-1 {
      background-image: url('../images/milk-cult.jpg');

     }
     &-2 {
      background-image: url('../images/milk-cult-2.jpg');

     }
     &-3 {
      background-image: url('../images/selco.jpg');
     }
  }

  //clients
  &-clients {
    height: 250px;

    & .owl-stage {
      height: 100%;
    }

    & .owl-item {
      height: 100%;
    }
    &-item {
      height: 100% !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-img {
      width: auto;
      max-width: 70%;
      height: auto;
      max-height: 100%;
      // filter: grayscale(1);
    }
  }

}

button.owl-next, button.owl-prev {
  display: none !important;
}


