.slider-dots {
  display: flex;
  &__item {
    width: 15px;
    height: 15px;
    border: 2px solid $accent-color;
    border-radius: 50%;
    transition: width .3s ease-out 0s, border-radius .3s ease-out 0s;

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    &.active {
      border-radius: 10px;
      width: 30px;
      background-color: $accent-color;
    }

  }

  &__link {
    display: block;
    height: 100%;
    width: 100%;
  }
}