extends ./base
block head
    title Главная страница
block variables
block content
  .wrapper
    section.section.section_main
      .container.container_main
        header.header
          .header__contacts.contacts
            ul.contacts__info.contacts-info
              li.contacts-info__item
                i.fas.fa-phone.contacts-info__icon
                .contacts-info__text 8 (800) 555-35-35
              li.contacts-info__item
                .contacts-info__icon
                  i.fa.fa-envelope
                .contacts-info__text sales@artislunch.com
            ul.contacts__socials.socials
              li.socials__item
                a(href="#").socials__link
                  i.fab.fa-vk
          .header__row
            a(href="#").logo.header__logo
              img(src="images/logo.png").logo__img
            ul.menu.header__menu
              li.menu__item
                a(href="#").menu__link Преимущества
              li.menu__item
                a(href="#").menu__link Меню
              li.menu__item
                a(href="#").menu__link Контакты
              li.menu__item
                a(href="#").menu__link О компании
        .section__info
          .info
            .info__text
              .info__title 
                span.accent-text ОБЕДЫ 
                span.all-text — ЭТО ВКУСНО
              .info__subtitle ДОСТАВКА ОБЕДОВ РЕСТОРАННОГО КАЧЕСТВА  ПО ДОСТУПНЫМ ЦЕНАМ
              .info__descr Lorem ipsum dolor sit amet,  sit ametelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,t enim ad minim veniam quis nostrud exercitation nisi ut aliquip ex ea commodo consequat.
            ul.info__btns
              li.info__btn
                a(href="#").btn.btn_more#more
                  span.btn__text Читать больше
              li.info__btn
                a(href="#").btn.btn_order#order 
                  span.btn__text Дегустация
    section.section.section_adv
      .container.container_adv
        .adv
          .adv__title.title
            svg.title__icon
              use(xlink:href="images/sprite.svg#plate")
            .title__main-title
              span.accent-text Артис 
              span.all-text Обеды
            .title__subtitle Lorem ipsum dolor sit amet, consectetur adipiscin
          .adv__descr 
            span.all-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud veniam, quis nostrud aboris nisi ut aliquip ex ea 
            
            span.accent-text доставка от 10 порций. 
            
            span.all-text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          ul.adv__list
            li.adv__item.advantage
              svg.advantage__icon
                use(xlink:href="images/sprite.svg#clock")
              .advantage__name Быстрая доставка
              .advantage__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            li.adv__item.advantage
              svg.advantage__icon
                use(xlink:href="images/sprite.svg#fork-knife")
              .advantage__name Разнообразное меню
              .advantage__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            li.adv__item.advantage
              svg.advantage__icon
                use(xlink:href="images/sprite.svg#medal")
              .advantage__name Гарантия качества
              .advantage__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    section.section.section_nums
      .container.container_nums
        ul.nums
          li.nums__item.num
            svg.num__icon
                use(xlink:href="images/sprite.svg#lemonade")
            .num__number 123
            .num__descr
              span.accent-text Ежедневных 
              span.all-text клиентов
          li.nums__item.num
            svg.num__icon
                use(xlink:href="images/sprite.svg#couple")
            .num__number 1231
            .num__descr
              span.accent-text Вкусных 
              span.all-text обедов
          li.nums__item.num
            svg.num__icon
                use(xlink:href="images/sprite.svg#chiefHat")
            .num__number 56
            .num__descr 
              span.accent-text Опытных 
              span.all-text сотрудников
    section.section.section_menu
      .container.container_menu
        .menu-slider
          .title
              svg.title__icon
                use(xlink:href="images/sprite.svg#plate")
              .title__main-title
                span.accent-text Меню 
                span.all-text на эту неделю
              .title__subtitle 
                span.all-text Цена за один обед фиксирована и составляет 
                span.accent-text 180 ₽
          ul.menu-meal
            .menu-meal__row
              li.menu-meal__item
                .menu-meal__title-row
                  .menu-meal__day Понедельник
                  .menu-meal__gr гр
                ul.menu-meal__meals.meals
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
              li.menu-meal__item
                .menu-meal__title-row
                  .menu-meal__day Понедельник
                  .menu-meal__gr гр
                ul.menu-meal__meals.meals
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
              li.menu-meal__item
                .menu-meal__title-row
                  .menu-meal__day Понедельник
                  .menu-meal__gr гр
                ul.menu-meal__meals.meals
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
            .menu-meal__row.not-full
              li.menu-meal__item
                .menu-meal__title-row
                  .menu-meal__day Понедельник
                  .menu-meal__gr гр
                ul.menu-meal__meals.meals
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
              li.menu-meal__item
                .menu-meal__title-row
                  .menu-meal__day Понедельник
                  .menu-meal__gr гр
                ul.menu-meal__meals.meals
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
                  li.meals__item
                    .meals__name Cуп с вермишелью и курой
                    .meals__weight 225
              li.menu-meal__item
          ul.slider-dots
            li.slider-dots__item.active
              a(href="#").slider-dots__link
            li.slider-dots__item
              a(href="#").slider-dots__link
    section.section.section_form
      .container.container_form
        form.form
          .form__left-col
            img(src="images/form.jpg").form__img
          .form__right-col
            .form__title Форма обратной связи
            ul.form__inputs.inputs
              li.inputs__item
                input(placeholder="Ваше имя").input.input_name
                i.fas.fa-pencil-alt.inputs__icon
              li.inputs__item
                input(placeholder="Ваш телефон").input.input_phone
                i.fas.fa-phone.inputs__icon
              li.inputs__item
                input(placeholder="Ваша почта").input.input_mail
                i.fa.fa-envelope.inputs__icon
              li.inputs__item.inputs__item_comment
                textarea(name="comment", cols="30", rows="10" placeholder="Заказать бесплатную дегустацию*").input.input_comment
                i.fa.fa-comment.inputs__icon
            button(type="submit").form__btn.btn.btn_submit 
              span.btn__text Отправить
    section.section.section_history
      .container.container_history
        .title
          svg.title__icon
            use(xlink:href="images/sprite.svg#plate")
          .title__main-title
            span.accent-text Наша 
            span.all-text История
          .title__subtitle Lorem ipsum dolor sit amet, consectetur adipiscin
        .history
          .history__left-col
            .history__text 
              span.all-text Lorem ipsum dolor sit amet, consectetur adipiscing
              span.accent-text  elit, sed do eiusmod 
              span.all-text tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
              span.accent-text ullamco laboris 
              span.all-text nisi ut aliquip ex ea commodo consequat.
            ul.history__companies.companies
              li.companies__item.company
                i.fa.fa-hand-point-right.company__pointer
                .company__name Молочная культура
                .company__descr Завод по производству молочной продукции класса premium под собственной торговой маркой
              li.companies__item.company
                i.fa.fa-hand-point-right.company__pointer
                .company__name Молочная культура
                .company__descr Экспорт сельскохозяйственной продукции 
              li.companies__item.company
                i.fa.fa-hand-point-right.company__pointer
                .company__name Молочная культура
                .company__descr Поставка продовольственных продуктов для социальной сферы, поставка продуктов в сектор НоReCa, организация питания для социальной сферы
              li.companies__item.company
                i.fa.fa-hand-point-right.company__pointer
                .company__name Молочная культура
                .company__descr Производство молока, выращивание овощей и картофеля
          .history__right-col
            .owl-wrapper
              .owl-carousel.owl-theme.owl-loaded
                .owl-stage-outer
                    .owl-stage
                        .owl-item
                          img.owl-img(src="images/milk-cult.jpg")
                        .owl-item
                          img.owl-img(src="images/milk-cult.jpg")
                        .owl-item
                          img.owl-img(src="images/milk-cult.jpg")
                .owl-nav
                    .owl-prev
                      i.fas.fa-angle-left
                    .owl-next
                      i.fas.fa-angle-right
              img(src="images/artis-logo.png").history__artis-logo
    section.section.section_footer
      .container.container_footer
        footer.footer
          .footer__about
            a(href="#").footer__logo.logo
              img(src="images/logo.png").logo__img
            .footer__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
          .footer__lists
            .footer__right-col.footer__map
              .footer__title Карта
              .map__display#map.map
            .footer__left-col
              .footer__working-time
                .footer__title Часы работы
                ul.footer__text-list.text-list
                  li.text-list__item Понедельник - Пятница
                  li.text-list__item.accent-text С 10:00 до 19:00
                  li.text-list__item Суббота - Воскресенье
                  li.text-list__item.accent-text Выходные
              .footer__contacts
                .footer__title Контакты
                ul.footer__text-list.text-list
                  li.text-list__item Петровский проспект, 20, СПб, 197110
                  li.text-list__item +7 (800) 555-35-35
                  li.text-list__item.accent-text sales@artislunch.com
          .footer__bottom-info
            ul.footer__socials.socials_round
              li.socials__item
                a(href="#").socials__link.socials__link_round
                  i.fab.fa-vk
            .footer__copyright 
              span.all-text © 
              span.accent-text ArtisLunch 
              span.all-text 2018 Все права сохранены         
           

          
              
          



    script(src="scripts/main.bundle.js")
